{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="card mb-4">
        <div class="card-header">
          <strong>Funcionário</strong>
        </div>
        <div class="card-body">
          <form action="." method="POST">
            {% csrf_token %}

            {% for field in form.visible_fields %}
              <div class="mt-2 form-group{% if field.errors %} has-error {% endif %}">
                <label for="{{ field.id_for_label }}">
                  {% if field.field.required %}
                    <span class="required">{{ field.label }}</span>
                  {% else %}
                    {{ field.label }}
                  {% endif %}
                </label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                  <span class="text-muted">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}

            <div class="float-end mt-2">
              <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
