<!DOCTYPE html>
<html>
  <html lang="pt-br"></html>
  <head>
    <meta charset="utf-8" />
    <title>Cadastro</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Programa de Cadastro" />
    <meta name="author" content="Tony" />
    <!-- Bootstrap CSS padrão em cdn -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootswatch -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-1 d-inline">
            <img
              class="rounded-circle align-middle"
              alt="logo"
              height="50"
              src="../static/img/cadastro.webp"
            />
          </div>
          <div class="col-sm-3 d-inline">
            <h1 class="h4 text-white">Cabeçalho</h1>
            <!-- Título -->
          </div>
          <!-- Título -->
        </div>
      </div>
    </header>
  </body>
</html>
