
{% extends 'base.html' %}

Seja bem vindo

{% block sistema_Intranete_Suelo %}

<!DOCTYPE html>
<html>
  <html lang="pt-br"></html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Programa de Cadastro" />
    <meta name="author" content="Tony" />
    <!-- Bootstrap CSS padrão em cdn -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootswatch -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-1 d-inline">
            <img
              class="rounded-circle align-middle bg-white"
              alt="logo"
              width="60"
              height="60"
              src="../static/img/logo_suelo.png"
            />
          </div>
          <div class="col-sm-3 d-inline">
            {% block main %} {% endblock %}
            <h1 class="h4 text-white">Cabeçalho</h1>
            <!-- Título -->
          </div>
          <!-- Título -->

          <!-- Menu -->
          <div class="col-sm-8 d-inline">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarColor01"
                  aria-controls="navbarColor01"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#"
                        >Home
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <input
                      class="form-control me-sm-2"
                      type="search"
                      placeholder="Search"
                    />
                    <button
                      class="btn btn-secondary my-2 my-sm-0"
                      type="submit"
                    >
                      Search
                    </button>
                  </form>
                </div>
              </div>
            </nav>
          </div>
          <!-- Menu -->
        </div>
      </div>
    </header>

    <div class="container">
      <h2 class="bg-dark text-light">Cadastro</h2>
      <p>
        ipsum dolor sit amet, consectetur adipiscing elit. In varius nec risus
        id rhoncus. Curabitur vel augue venenatis, convallis dolor sed,
        malesuada libero. Sed nibh sem, euismod ac enim nec, pharetra convallis
        arcu. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Pellentesque venenatis quam id urna lobortis
        convallis. Donec pellentesque, velit ut mattis convallis, ante magna
        eleifend ligula, in aliquet dolor augue sit amet nibh. Aliquam id lacus
        vel mauris imperdiet facilisis vitae a dui. Maecenas et ultricies
        mauris. Suspendisse potenti. In accumsan sem massa, id pretium metus
        ornare non. Vestibulum condimentum mi nec turpis facilisis cursus.
        Vivamus finibus risus quis nulla porttitor feugiat. Cras sed velit
        lectus. Fusce et libero ut turpis eleifend bibendum. Suspendisse arcu
        velit, scelerisque sed massa quis, hendrerit sollicitudin turpis. Nam
        diam lacus, facilisis sit amet leo non, dictum volutpat lacus.
      </p>
      <p>
        tempus est urna, id fermentum lorem fermentum feugiat. Nam ultricies
        odio ac nibh sollicitudin fermentum. Maecenas eu orci velit. In
        consectetur laoreet risus. Praesent egestas eros eget velit luctus
        porta. Morbi rutrum convallis interdum. Vestibulum dapibus velit ac
        suscipit semper. Morbi vel sodales felis, a elementum nisi. Ut egestas
        feugiat pharetra.
      </p>
      <p>
        Phasellus varius, lorem at consequat elementum, risus ligula consequat
        nunc, ut sodales lectus nunc vitae mauris. Aliquam efficitur congue
        egestas. In placerat nunc eu lectus molestie efficitur. Vivamus mattis
        feugiat purus, vitae hendrerit quam semper et. Praesent varius imperdiet
        pulvinar. Nullam congue accumsan cursus. Suspendisse congue iaculis diam
        molestie pharetra.
      </p>
      <p>
        Vestibulum ullamcorper vulputate lacus faucibus pretium. Sed efficitur
        diam a cursus sagittis. Sed imperdiet cursus pulvinar. Etiam non enim eu
        urna tristique vulputate sit amet quis tortor. Nam dapibus consequat
        nisi sit amet porta. Mauris porttitor placerat elit vitae porttitor.
        Vestibulum ultrices accumsan libero, id posuere massa tempus in. Vivamus
        sit amet pharetra lacus. Suspendisse vitae tempor turpis. Sed feugiat,
        ante vel blandit bibendum, nisi nisl venenatis erat, at pharetra nunc
        risus non ante. Aliquam eu sem vel lorem lobortis ornare sollicitudin
        nec lacus. Etiam elit massa, scelerisque nec ullamcorper sit amet,
        laoreet vel massa. Etiam eget sagittis orci, eu molestie ipsum.
      </p>
      <p>
        Donec feugiat elit sed euismod pulvinar. Etiam dapibus hendrerit neque
        nec sagittis. Nulla ut nunc venenatis, auctor eros at, blandit libero.
        Integer euismod lectus sed risus auctor ultricies. Donec est nisi,
        dignissim quis ante sit amet, malesuada dignissim lectus. Aenean gravida
        nisi ut est molestie efficitur. Nunc rhoncus est sit amet tortor
        tincidunt, eu mattis tellus tincidunt. Vestibulum aliquet arcu ac
        eleifend pharetra. Nulla efficitur dui nisl, lobortis cursus lorem
        vulputate vitae. Quisque blandit erat ut vulputate auctor. Quisque
        tristique bibendum sodales.
      </p>
      <p>Gerados 5 parágrafos, 426 palavras, 2971 bytes de Lorem Ipsum</p>
    </div>

    <!-- Rodapé da Página -->
    <footer class="mt-auto bg-primary">
      <div class="container text-white">
        <p class="smallfooter">
          &copy; 2023 &#8212; Tony - Este programa é fornecido sob a MIT License
        </p>
      </div>
    </footer>
  </body>
</html>
